**/Makefile.in
**/Makefile
configure
aclocal.m4
autom4te.cache
config.log
config.status

cfg/compile
cfg/config.h*
cfg/depcomp
cfg/install-sh
cfg/missing
cfg/stamp-h1

**/*\.o
src/.deps
src/kernel-config-diff-to-fragment
